.base-btn {
  width: 30.25rem;
  height: 48px;
  background: #fbcc05 !important;
  box-shadow: 0px 4px 4px rgba(166, 166, 166, 0.25);
  border-radius: 24px;
  color: black;
}
.base-btn:hover {
  background-color: #0a0a0b;
  color: white;
}

.converterexchanger {
  border: 1px solid #9a9ba0;

  box-shadow: 2px 15px 30px rgba(166, 166, 166, 0.15);
  border-radius: 24px;
  margin-left: 44px;
  max-width: 32.75rem;
  height: 29.25rem;
  margin-top: 122.5px;
  padding-top: 40px;
}

.currencyinput
{
  font-size: 24px;

}

.navbar {
  background-color: transparent;
  color: #0a0a0b;
  font-size: 16px;
}

a:hover {
  border-width: 4px;
  border-top: none;
  border-left: none;
  border-radius: 0%;
  border-right: none;
  border-color: #fbcc05;
}

.base-btn:hover {
  background-color: #31240B !important;
}
.header
{
    font-weight: bold;
    font-size: 32px;
}
@font-face {
  font-family: "Worksans";
  src: url("./fonts/WorkSans-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.logincontainer {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.createactdiv {
  width: 31rem;
  margin-top: 10px;
}
.logo {
  width: 120px;
  height: 120px;
  margin-top: 40px;
}
.d-none {
  display: none;
  margin-top: 5%;
}

.w-small {
  width: 24rem;
}
.loginbtn {
  width: 98px;
  height: 48px;
  border: 2px solid #0a0a0b;
  margin-left: 20px;
  margin-top: 86px;
  margin-right: 25px;
}
.grid {
  height: 100%;
}
.loginbtn:hover {
  color: white;
}
.background {
  background: url(../assets/signup.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.websitecard
{
  background: url(../assets/websitecard.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.alreadyregistered {
  margin-top: 100px;
}
body {
  font-family: "Worksans";
}
input {
  border: 1px solid #9a9ba0;
  color: #616161;
  max-width: 484px;
  height: 48px;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
textarea
{
  border: 1px solid #9a9ba0;
  color: #616161;
  height:11.5rem; 
  border-radius:24px
}

.activestepper {
  height: 2px;
  align-self: center;
  width: 130px;
  background-color: #616161;
}

.inactivestepper {
  height: 2px;
  align-self: center;
  width: 100px;
  background-color: #9a9ba0;
}

.activestep {
  background-color: #fbcc05;
  display: flex;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

.inactivestep {
  background-color: transparent;
  border: 1px solid #0a0a0b;
  border-radius: 50%;
  display: flex;
  height: 2rem;
  width: 2rem;
}
.checkedimg,
.notcheckedimg {
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 480px) {
  .createactdiv {
    margin-top: 90px !important;
  }
}

@media screen and (min-width: 768px) {
  .createactdiv {
    width: 34rem !important;
  }
}
@media screen and (max-width: 320px) {
  .alreadyregistered {
    display: none;
  }
}
